@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quantico&display=swap');
* {
    font-family: 'Quantico', sans-serif;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 2px;
}

.main-container .subtitle-content {
    text-align: center;
    width: 200px;
    height: inherit;
}

.main-container h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

.main-container .subtitle-content p {
    font-size: 1em;
}

.inputs-container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto;
}

.inputs-container .input-content {
    margin-top: 10px;
    width: 15vw;
    height: 10vh;
    min-width: 160px;
    min-height: 80px;
}

.inputs-container .input-content input {
    width: 100%;
    border: 3px black solid;
    border-radius: 8px;
    outline: none;
    padding: 8px;
}

label {
    margin-left: 15px;
}

.top-left::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-top-left-radius: 100px;
    background-color: black;
    margin-right: 10px;
}

.top-right::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top-right-radius: 100px;
    background-color: black;
    margin-right: 10px;
}

.bottom-left::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-bottom-left-radius: 100px;
    background-color: black;
    margin-right: 10px;
}

.bottom-right::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-bottom-right-radius: 100px;
    background-color: black;
    margin-right: 10px;
}

.element-ref {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 22vw;
    height: 22vh;
    background-color: rgba(0, 0, 0, 0.062);
    border: 3px black solid;
}

.element-ref:hover {
    user-select: none;
    cursor: pointer;
}

.element-ref p {
    padding: 10px;
}

.alert {
    display: flex;
    padding: 20px;
    background-color: #04AA6D;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}